<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>CompanyServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.CompanyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CompanyServlet</servlet-name>
		<url-pattern>company</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConsoleServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.ConsoleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsoleServlet</servlet-name>
		<url-pattern>console</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VideoGamesServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.VideoGamesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VideoGamesServlet</servlet-name>
		<url-pattern>videogame</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VideoGameDataListServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.VideoGameDataListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VideoGameDataListServlet</servlet-name>
		<url-pattern>dataGames</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConsoleDataListServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.ConsoleDataListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsoleDataListServlet</servlet-name>
		<url-pattern>dataConsoles</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteConsoleServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.DeleteConsoleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteConsoleServlet</servlet-name>
		<url-pattern>deleteConsole</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteVideoGameServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.DeleteVideoGameServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteVideoGameServlet</servlet-name>
		<url-pattern>deleteVideoGame</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListConsoleByCompanyServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.ListConsoleByCompanyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListConsoleByCompanyServlet</servlet-name>
		<url-pattern>listByConsole</url-pattern>
	</servlet-mapping>


</web-app>